body{
    background: white;
    color: black;
}
hr{
    background: white;
}
h1{

    color: black;
}
center{
    font: black;
}
Bottom{
  font: 22px Arial, Helvetica, sans-serif;
}
                                                                                                                                                                                                             